Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyc

# PyTorch
*.pth
*.pkl
*.log

# Virtual Environment
venv/
env/
*.env

# IDE
.idea/
.vscode/

# Compiled files
*.o
*.out
*.dll
*.so
*.dylib

# Temporary files
*.bak
*.swp
*.tmp
*~

# Logs
*.log